black==22.8.0
bumpversion
flake8
flaky
freezegun==0.3.12
ipdb
mypy==0.971
pip-tools
pre-commit
pytest
pytest-cov
pytest-csv
pytest-dotenv
pytest-logbook
pytest-mock
pytest-xdist
pytz
tox>=3.13
twine
types-colorama
types-PyYAML
types-freezegun
types-Jinja2
types-mock
types-python-dateutil
types-pytz
types-requests
types-setuptools
wheel
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=7.16.3 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tqdm>=4.66.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
